html {
  background-color: #171b2a;
}

body {
  text-align: center;
  color: white;
  font-family: font-family: 'Saira Semi Condensed', sans-serif;
}

header {
  color: white;
  text-align: center;
  font-size: 30px;
}

footer {
  color: grey;
  text-align: center;
  position: relative;
}

.Odkazy {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 22px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

@font-face {
  font-family: 'Basketlab';
  src: url('SairaSemiCondensed-Bold.tff');
}
