
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("a.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Crystal{
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.V4{
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.Odkazy {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

a.instagram:link {
  text-decoration: none;
}

a.instagram:visited {
  text-decoration: none;
}

a.instagram:hover {
  text-decoration: underline;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #D81E5B;
}

a:active {
  color: blue;
}

@font-face {
  font-family: 'Basketlab';
  src: url('SairaSemiCondensed-Bold.tff');
}
